
:root{
	--color-negro:#282d33;
	--menu-hover:#282d33;
	--fondo-footer:#f4f4f4;
	--color-footer:#898989;
}
header{
	background-color: #fff;
}
#hero-slides h1{
	color: var(--color-negro);
	text-align: left;
	font-size: 25px;
	font-style: oblique;
	font-weight: 500;
}
#hero-slides h2{
	color: var(--color-negro);
	text-align: left;
	padding: 15px 0;
	font-size: 25px;
	font-weight: 700;
}
#cooling{
	text-align: center;
}
#cooling h2{;
	margin: 40px 0;
}
#cooling h4{
	color: var(--color-negro);
	padding: 20px 0;
	font-size: 20px;
	font-weight: 500;
}
#cooling .btn{
	margin-bottom: 30px;
}
.btn-light{
	border-radius: 0;
	padding: 15px 40px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	border: 2px solid #000;
}
.btn-light:hover{
	background-color: #000;
	color: #fff;
	border-color: #000;
	border: 2px solid #fff;
}
footer{
	background-color: var(--fondo-footer);
	color: var(--color-footer);
	padding: 20px 0;
	text-align: center;
	font-size: 13px;
}
.social-nav i{
	width: 28px;
	height: 28px;
	line-height: 30px;
	text-align: center;
	background-color: var(--color-footer);
	color: #fff;
	border-radius: 100%;
}